


.categoryType {


    width: 384px;
    height: 190px;
    margin-bottom: 40px;
    //align-items: center;
    //align-content: center;
    text-align: center;
    border-radius: 50px;
}

.type {

    font-size: 48px;
    line-height: 58px;
    font-family: 'MouseMemoirs';
}