@import './scss/breakpoint.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.containerz {

  /* position: relative; */
  /* background-image: url('./assets/images/background-desktop.svg'); */


  background-image: url('./assets/images/background-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 800px; */
  /* height: 100%; */
  @include breakpoint-lg {

    //background-image: ;
    background-image: url('./assets/images/background-desktop.svg');
  }

}

.outerBox {

  /* //position :'relative'; */
  /* //position: absolute; */
  /* background-color: red; */
  width: 592px;
  max-height: 610px;
  padding-top: 50px;
  margin: auto;


} 


.gameBackground {

  position: absolute;
}

/* .innerBox {

  
  background-color: green;
  border-radius:  40px;
  width: 592px;
  height: 500px;
  
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */


.boxButton {


  width: 260px;
  height: 62px;
  border-radius: 28px;
  font-family: 'MouseMemoirs';
  font-size: 32px;
  border:none;

}
